<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>

  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <style>
    .navbar {
      background-color: #4CAF50;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar a {
      color: #ffffff;
      /* Text color */
      text-decoration: none;
      padding: 15px;
      transition: background-color 0.3s, color 0.3s;
    }

    .navbar a:hover {
      background-color: #45a049;
    }

    .navbar-center {
      display: flex;
      justify-content: center;
    }

    .navbar a+a {
      margin-left: 20px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <div class="navbar-center">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['home']">Home
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['login']" *ngIf="!employeeLoggedIn">Login
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['employee']" *ngIf="employeeLoggedIn">Employee
              <i class="fas fa-user"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['welcome']" *ngIf="employeeLoggedIn">Welcome
              <i class="fas fa-globe"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" *ngIf="employeeLoggedIn">Logout
              <i class="fas fa-sign-out-alt"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

</body>

</html>